
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.clear{
    clear:both;
}

.inicio{
    width:100%;
    height:150px;
    background-color:rgb(44, 7, 78);
    padding:20px;
}

.inicio h1{
    color:whitesmoke;
    font-size: 80px;
    text-align: center;
    
}

.menu{
    
    margin-top: 40px;
    margin-bottom: 40px;
  
}
    


.tatico {
    width:300px;
    height:300px;
    background-color: rgb(18, 6, 29);
    border-radius: 10px;
    display:inline-block;
    margin-left: 115px;
}

.tatico h2{
    margin-top:10px;
    color:whitesmoke;
    text-align: center;
}

.tatico img{
    width:100%;
    height:80%;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
   
}

.tatico img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}    

.tecnica {
    float:right;
    
    width:300px;
    height:300px;
    background-color:rgb(22, 33, 189);
    border-radius: 10px;
    margin-right: 115px;
}

.tecnica h2{
    margin-top:10px;
    color:whitesmoke;
    text-align: center;
}

.tecnica img{
    width:100%;
    height:80%;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    
}

.tecnica img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.comercial {
    width:300px;
    height:300px;
    background-color:rgb(189, 20, 15);
    border-radius: 10px;
    float:right;
    margin-right: 115px;
}

.comercial h2{
    margin-top:10px;
    color:whitesmoke;
    text-align: center;
}

.comercial img{
    width:100%;
    height:80%;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.comercial img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

footer{
    width:100%;
    height:150px;
    background-color:rgb(44, 7, 78);
}

.rodape h3{
    color:whitesmoke;
    font-size: 20px;
    margin-left: 40px;
    padding:40px;

}

@media screen and (max-width:1150px){
    .inicio h1{
        font-size: 60px;
    }

    .menu{
        width:100%;
        height:1000px;

        margin-top: 20px;
        margin-bottom: 20px;
    }  
    
    
    .tatico {
        width:300px;
        height:300px;
        background-color: rgb(44, 7, 78);
        border-radius: 10px;
        margin-left: 60px;

        
        
    }

    .tecnica {
       
        
        width:300px;
        height:300px;
        background-color:rgb(44, 7, 78);
        border-radius: 10px;
        margin-top: 40px;
        margin-left: 60px;
        
    }

    
    .comercial {
        width:300px;
        height:300px;
        background-color:rgb(44, 7, 78);
        border-radius: 10px;
        margin-top: 40px;
        margin-left: 60px;
        
       
    }

	
}

@media screen and (max-width:570px){
    .inicio h1{
        font-size: 40px;
    }

    .menu{
        width:100%;
        height:1000px;

        margin-top: 20px;
        margin-bottom: 20px;
    }  
    
    
    .tatico {
        width:300px;
        height:300px;
        background-color: rgb(44, 7, 78);
        border-radius: 10px;
        

        
        
    }

    .tecnica {
        
        
        width:300px;
        height:300px;
        background-color:rgb(44, 7, 78);
        border-radius: 10px;
        margin-top: 40px;
        
    }

    
    .comercial {
        width:300px;
        height:300px;
        background-color:rgb(44, 7, 78);
        border-radius: 10px;
        margin-top: 40px;
        
        
    }

    
}

	

@media screen and (max-width:460px){
	.inicio h1{
        font-size: 40px;

	
	
