*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

.topo{
    padding-top: 30px;
    width: 1280px;
    margin:0 auto;
}
h1{
    font-size: 50px;
    
}
header{
    width:100%;
    height:150px;
    background-color: brown;
}

.principal{
    width:100%;

}
.principal h2{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 50px;
    
}

.paradox{
    display: inline-block;
    margin-left: 10%;
    width:300px;
}

.paradox img{
    width:100%;
}

.paradox h2{
    
    margin-top: 20px;
    margin-left: 50px;
}

.runner{
    display: inline-block;
    width:280px;
    float:right;
    margin-right: 10%;
    margin-left: 100px;
}

.runner img{
    width:100%;
    

}

.runner h2{
    font-size: 18px;
}

.intelbras{
    display: inline-block;
    width:280px;
    float:right;

}

.intelbras img{
    width:100%;
}

.vista_48{
    margin-left: 10%;
    width:300px
}
.vista_48 img{
    width:100%
}



@media screen and (max-width:1280px){
	
.paradox2{
    

 

}

.paradox2 video{
    width:80%;
}

}


